body {
    text-align: center;
    background-color: rgb(226, 242, 248);
    padding-left: 5px;
  padding-right: 5px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #000000;
}   
nav {
    margin: -1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #0069F6;
    width: 100%;
}

nav a {
    display: flex;
    align-items: center;
    color: #fffefe;
    text-decoration: none;
    margin: 0 2px;

}

.navbar-brand {
    margin-top: -5%;
}

nav img {
    margin-left: 10px;
    width: 50px;
    height: 50px;
}
#right-links {
    display: flex;
    align-items: center;
}

#right-links a {
    margin-right: 50px;
    color: white;
}

.iconPageNav {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
button {
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 1.3em 3em;
    font-size: 7px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    border: 1px solid rgba(105, 105, 105, 0.397);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

button:active {
    transform: translateY(-1px);
}
