button {
	padding: 10px 20px;
	font-size: 18px;
	background-color: #c01bf1a1;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px;
}

button:hover {
	background-color: #a212ceb9;
}

body{
	background-color: rgba(0, 0, 0, 0.404)
}