button {
	padding: 10px 20px;
	font-size: 18px;
	background-color: #F1DEE9;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px;
}

button:hover {
	background-color: #F1DEE9;
}

body{
	background-color: #F1DEE9;
}
div{

	
}
