body {
	background-color: #eedce7;
}

nav{
	background-color: #0069f6;
	height: 60px;
}

header a{
	color: #fffefe;
}

nav img{
	margin-top: -15px;
	width: 60px; 
	height: 50px;
}

.textAligniCenter{
	margin: 20px 15%;
}

li a h5 {
	color: white;
}

button {
	padding: 10px 200px;
	border: none;
	cursor: pointer;
	margin: 10px;
}

footer {
	background-color: #0069f6;
}

footer img{
	width: 60px;
	height: 50px;
}
