body {
    text-align: center;
    background-color: rgb(226, 242, 248);
    padding-left: 5px;
  padding-right: 5px;
}

div {
    padding: 5px;
    text-align: center;
}

body div {
    margin-top: 20px;
}

nav {
    margin: -1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #0069F6;
    width: 100%;
}

nav a {
    display: flex;
    align-items: center;
    color: #fffefe;
    text-decoration: none;
    margin: 0 2px;

}

.navbar-brand {
    margin-top: -5%;
}

nav img {
    margin-left: 10px;
    width: 50px;
    height: 50px;
}


#right-links {
    display: flex;
    align-items: center;
}

#right-links a {
    margin-right: 50px;
    color: white;
}

.iconPageNav {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

button {
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 1.3em 3em;
    font-size: 7px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    border: 1px solid rgba(105, 105, 105, 0.397);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

button:active {
    transform: translateY(-1px);
}


.form {
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    font-size: 28px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: rgb(78, 225, 65);
}

.title::before {
    width: 18px;
    height: 18px;
    background-color: rgb(65, 225, 73);
}

.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label {
    position: relative;
}

.form label .input {
    width: 90%;
    padding: 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form label .input+span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
    top: 15px;
    font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}


.form label .input:valid+span {
    color: green;
}

.stylematerial:valid+span {
    color: green;
}

.stylematerial {
    border-color: grey;
    border-radius: 10px;
    width: 95%;
    height: 35px;
    color: grey;
    border: 1px solid rgba(105, 105, 105, 0.397);
}

#myTable {
    border-collapse: collapse;
    width: 800px;
    background-color: #f5f5f5;
    border: 1px solid #dcdcdc;
    font-size: 16px;
    color: #333;
    text-align: left;
}

/* Estilo para a linha de cabeçalho */
#myTable tr.table-dark th {
    background-color: #343a40;
    color: #fff;
    padding: 10px;
}

/* Estilo para as linhas pares */
#myTable tr:nth-child(even) {
    background-color: #f1f1f1;
}

/* Estilo para as células */
#myTable td {
    padding: 10px;
    border: 1px solid #dcdcdc;
}

/* Estilo para o texto do cabeçalho */
#myTable th {
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.selecionado {
    border: 2px solid green;
  }
  
  .selecionado2 {
    border: 2px solid red;
  }

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}