body {
	background-color: rgb(226, 242, 248);

  }
  
  nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	background-color: #0069F6;
  }
  
  nav a {
	display: flex;
	align-items: center;
	color: #fffefe;
	text-decoration: none;
  
  }
  
  
  #right-links {
	display: flex;
	align-items: center;
  }
  
  #right-links a {
	margin-right: 50px;
	color: white;
  }
  
  .iconPageNav {
	margin-left: 10px;
	margin-top: 1px;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	margin-right: 10px;
  }

nav img{
	margin-top: -15px;
	width: 60px; 
	height: 50px;
}

.textAligniCenter{
	margin: 20px 15%;
}

li a h5 {
	color: white;
}

button {
	padding: 10px 200px;
	border: none;
	cursor: pointer;
	margin: 10px;
}

footer {
	background-color: #0069f6;
}

footer img{
	width: 60px;
	height: 50px;
}
