body {
    padding-left: 10px;
    padding-right: 10px
    
  }
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	background-color: #0069F6;
  }

  nav img{
	margin-top: -15px;
	width: 60px; 
	height: 50px;
}
