body {
    background-color: rgb(226, 242, 248);
}

nav {
    margin: -1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #0069F6;
}

nav a {
    display: flex;
    align-items: center;
    color: #fffefe;
    font-weight: bold;
    text-decoration: none;
    margin: 0 5px;

}

nav img {
    margin-left: 10px;
    margin-top: 5px;
    width: 50px;
    height: 50px;
}


#right-links {
    display: flex;
    align-items: center;
}

#right-links a {
    margin-right: 50px;
    color: white;
}

.iconPageNav {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

div{
    padding: 5px;
    text-align: center;
}

button {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 1.3em 3em;
    font-size: 7px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }
.mb-2 p{
    font-size: 9px;
    margin-bottom: -10px;
}


/* ############################# */

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 28px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: rgb(78, 225, 65);
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: rgb(65, 225, 73);
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 90%;
  padding: 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}


@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}